@font-face {
  font-family: Georgia;
  font-display: swap;
  src: url("../fonts/georgia.woff") format("woff"), url("../fonts/georgia.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Georgia;
  font-display: swap;
  src: url("../fonts/georgia_bolt.woff") format("woff"), url("../fonts/georgia_bolt.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}
* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside,
section {
  display: block;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  font-family: "Georgia";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "Georgia";
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

html {
  scroll-behavior: smooth;
}

body {
  position: relative;
  color: #545454;
  font-family: "Georgia";
  font-size: 0.9375rem;
}
body.lock {
  overflow: hidden;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

[class*=__container] {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0px 40px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}
@media (max-width: 991.98px) {
  [class*=__container] {
    padding: 0px 30px;
  }
}
@media (max-width: 767.98px) {
  [class*=__container] {
    max-width: 708px;
  }
}
@media (max-width: 479.98px) {
  [class*=__container] {
    max-width: none;
    padding: 0px 10px;
  }
}

.btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  cursor: pointer;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.btn:active {
  opacity: 0.7;
}

.header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}
.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__logo {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 190px;
          flex: 0 0 190px;
}
.logo {
  display: block;
}
.header-menu__burger {
  display: none;
}
@media (max-width: 767.98px) {
  .header-menu__burger {
    display: block;
    position: relative;
    top: 0px;
    right: 0px;
    width: 30px;
    height: 22px;
    cursor: pointer;
    z-index: 50;
    -webkit-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
  }
  .header-menu__burger span {
    -webkit-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
    top: 10px;
    left: 0px;
    position: absolute;
    width: 100%;
    height: 2px;
  }
  .header-menu__burger span:first-child {
    top: 0px;
  }
  .header-menu__burger span:last-child {
    top: auto;
    bottom: 0px;
  }
  .header-menu__burger.active {
    -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  .header-menu__burger.active span {
    background-color: #F1CDB3;
  }
}
@media (max-width: 767.98px) {
  .header-menu__body {
    position: fixed;
    top: 0;
    right: -100%;
    width: 320px;
    height: 100%;
    background-color: #292929;
    -webkit-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
    overflow: auto;
    z-index: 49;
  }
}
.header-menu__body.active {
  right: 0;
}
.header-menu__wrapper {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(41, 41, 41, 0.6);
  z-index: 10;
  opacity: 0;
  display: none;
  overflow: hidden;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.header-menu__wrapper.active {
  opacity: 1;
  overflow: visible;
  display: block;
}
.header-menu__list {
  position: relative;
  z-index: 40;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header-menu__list li a {
  display: block;
}
@media (max-width: 767.98px) {
  .header-menu__list {
    display: block;
    text-align: center;
  }
}
.header-menu__link {
  position: relative;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.header-menu__link span {
  position: relative;
  display: block;
}
.header-menu__link span:after {
  content: "";
  position: absolute;
  height: 3px;
  bottom: -2px;
  left: 50%;
  width: 0;
}
.header-menu__link:active span:after {
  left: 0;
  width: 100%;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.footer {
  padding: 0px 0px 0px 0px;
}
.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}