@use "../helpers" as *;

.article-stories {
  // .article-stories__body
  &__body {
    display: flex;
  }
  // .article-stories__image
  &__image {
    flex: 0 0 rem(400);
    min-height: rem(250);
    overflow: hidden;
    border-radius: rem(16);
    box-shadow: 0px 4px 4px #0d606f;
  }
  // .article-stories__content
  &__content {
    flex: 1 1 auto;
    padding-left: rem(40);
  }
  // .article-stories__title
  &__title {
    margin-bottom: fluid(24, 10);
  }
  // .article-stories__text
  &__text {
    letter-spacing: -0.1px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  // .article-stories__link
  &__link {
    display: inline-block;
    font-weight: 700;
    text-decoration: underline !important;
    @include hover {
      text-decoration: none !important;
    }
  }
}
