@use "../helpers" as *;

.btn {
  @include fluid-text(24, 14);

  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: rem(60);
  padding: rem(10) rem(30);
  font-family: var(--font-family-ui);
  font-weight: 500;
  //font-size: rem(24);
  color: var(--color-white);
  white-space: nowrap;
  background-color: var(--color-blue);
  border: none;
  border-radius: rem(10);
  box-shadow:
    0px 0px 3px rgba(13, 96, 111, 0.08),
    0px 2px 3px rgba(13, 96, 111, 0.16);
  @include hover {
    opacity: 0.8;
  }
  &:active {
    opacity: 0.7;
  }
  &--login {
    font-size: rem(16);
    min-height: rem(40);
    box-shadow:
      0px 4px 4px rgba(0, 0, 0, 0.25),
      0px 2px 3px rgba(13, 96, 111, 0.16);
    &:active {
      top: 2px;
      box-shadow:
        0px 2px 4px rgba(0, 0, 0, 0.25),
        0px 2px 3px rgba(13, 96, 111, 0.16);
    }
  }

  @include mobile {
    min-height: rem(32);
    padding: rem(7.5) rem(12);
    //font-size: rem(14);
  }
}
