//== "Aleo", serif ===========================================================================
@font-face {
  font-family: Aleo;
  font-display: swap;
  src:
    url("../fonts/Aleo-Regular.woff") format("woff"),
    url("../fonts/Aleo-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Aleo;
  font-display: swap;
  src:
    url("../fonts/Aleo-Bold.woff") format("woff"),
    url("../fonts/Aleo-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: Aleo;
  font-display: swap;
  src:
    url("../fonts/Aleo-Italic.woff") format("woff"),
    url("../fonts/Aleo-Italic.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: Aleo;
  font-display: swap;
  src:
    url("../fonts/Aleo-BoldItalic.woff") format("woff"),
    url("../fonts/Aleo-BoldItalic.woff2") format("woff2");
  font-weight: 700;
  font-style: italic;
}
//== "RedHatText", sans-serif ===========================================================================
@font-face {
  font-family: RedHatText;
  font-display: swap;
  src:
    url("../fonts/RedHatText-Regular.woff") format("woff"),
    url("../fonts/RedHatText-Regular.woff") format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: RedHatText;
  font-display: swap;
  src:
    url("../fonts/RedHatText-Medium.woff") format("woff"),
    url("../fonts/RedHatText-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

//== "Magra", sans-serif ===========================================================================
@font-face {
  font-family: Magra;
  font-display: swap;
  src:
    url("../fonts/Magra-Bold.woff") format("woff"),
    url("../fonts/Magra-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}
