.header {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	background-color: hsl(11, 85%, 65%, 70%);
	box-shadow: 0px 4px 4px rgba(13, 96, 111, 0.5);
	&__container {
		display: flex;
		justify-content: space-between;
		align-items: center;
		min-height: 90px;
	}
	&__logo {
	}
	&__menu {
	}
}

.logo {
	display: flex;
	transition: all 0.3s ease 0s;
	margin-right: 6px;
	@media (hover: hover) {
		&:hover,
		&:focus {
			transform: scale(1.05);
		}
	}
	&__icon {
		flex: 0 0 30px;
		display: block;
		height: 30px;
		width: 30px;
		overflow: hidden;
		margin-right: 8px;
	}

	&__text {
		font-family: "Magra";
		font-weight: 600;
		font-size: rem(32);
		color: #ffffff;
	}
}

.header-menu {
	&__body {
	}
	&__list {
		display: flex;
	}
	&__link {
		display: block;
		margin-right: 42px;
		font-family: "RedHatText";
		font-weight: 500;
		font-size: rem(16);
		line-height: 1.3125;
		color: #ffffff;
		transition: all 0.3s ease 0s;
		@media (hover: hover) {
			&:hover,
			&:focus {
				color: $blue;
			}
		}
		margin-right: 42px;
	}
	&__button {
		box-shadow:
			0px 4px 4px rgba(0, 0, 0, 0.25),
			0px 2px 3px rgba(13, 96, 111, 0.16);
		&:active {
			top: 2px;
			box-shadow:
				0px 2px 4px rgba(0, 0, 0, 0.25),
				0px 2px 3px rgba(13, 96, 111, 0.16);
		}
	}
}

//*============================================================================================
