@use "sass:math";
@import "_mixins";

//*======<ШРИФТЫ>============================================================================================================
//<Подключаем шрифты>
//&display=swap&subset=cyrillic-ext
@import "fonts";

//"Magra", sans-serif
//"RedHatText", sans-serif
// @import url("https://fonts.googleapis.com/css?family=Red+Hat+Text:regular,500");
// @import url("https://fonts.googleapis.com/css?family=Magra:700");

//<Иконочные шрифты>
//@import "icons";

//<Шрифт по умолчанию>
$fontFamily: "Aleo", serif;
$fontSize: rem(20);
$fontColor: #0d606f;
//$fontLineHeight: 1;
//$fontWeight: normal;

//*======<ПЕРЕМЕННЫЕ>=========================================================================================================
$maxWidth: 1920;
$minWidth: 320px;

$maxWidthContainerLayout: 1440;
$containerPadding: 40;
$maxWidthContainer: $maxWidthContainerLayout + $containerPadding;

//<Брейкпоинты>
$md1: $maxWidthContainerLayout;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;

//-- Mobile first (min-width)
// $mdm1: 1200;
// $mdm2: 992;
// $mdm3: 768;
// $mdm4: 576;

//<Основные цвета сайта>
$bgb: #f8f8f8;
$blue: #0d606f;
$org: #f2785c;
//*======<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ, ОБОЛОЧКА>==========================================================================================
@import "_nullstyle";

html {
	scroll-behavior: smooth;
}
body {
	position: relative;
	font-family: $fontFamily;
	color: $fontColor;
	font-size: $fontSize;
	background-color: $bgb;
	&.lock {
		overflow: hidden;
	}
}
.wrapper {
	position: relative;
	max-width: 1440px;
	margin: 0 auto;
	background-color: #fff;
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}

//*======<ОСНОВНАЯ СЕТКА>======================================================================================================
.container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0px 10px;
	box-sizing: content-box;
	@media (max-width: 660px) {
		padding: 0px 16px;
	}
	// @media (max-width: ($md2+px)) {
	// 	padding: 0px 30px;
	// }
	// @media (max-width: ($md3+px)) {
	// 	max-width: 708px;
	// }
	// @media (max-width: ($md4+px)) {
	// 	max-width: none;
	// 	padding: 0px 10px;
	// }
}

//*========<ПОДКЛЮЧЕНИЕ ФАЙЛОВ>==================================================================================================
//----UI СТИЛИ, ФОРМЫ И ГОТОВЫЕ КЛАССЫ----
@import "ui";
//@import "popup";
//@import "forms";
//----СТИЛИ СТРАНИЦ И ЭЛЕМЕНТОВ----
@import "main";
@import "header";
@import "footer";

//*======<ОСНОВНОЙ БЛОК>=======================================================================================================
.page {
	flex: 1 1 auto;
	background: url("../img/stories-bg.jpg") center bottom no-repeat;
}
