@use "sass:math";

//* ======= Перевод удиницы измерения ==============================================
//px to %
@function prc($pxOne, $pxTwo) {
  $result: math.div($pxOne, $pxTwo) * 100%;
  @return $result;
}
//px to REM
// @function rem($px) {
// 	$result: math.div($px, 16) + rem;
// 	@return $result;
// }
//px to EM
@function em($px) {
  $result: math.div($px, 16) + em;
  @return $result;
}

@function rem($pixel) {
  @if math.is-unitless($pixel) {
    @return math.div($pixel, 16) + rem;
  } @else {
    @error 'Не используйте единицы измерения при работе с функцией rem()! Передавайте аргументом только числа.';
  }
}

//* ======= Адаптивный размер ==============================================
@function fluid($max: 100, $min: 10) {
  $maxViewportWidth: 1600;
  $minViewportWidth: 390;

  $maxSize: math.div($max, 16);
  $minSize: math.div($min, 16);
  $maxWidth: math.div($maxViewportWidth, 16);
  $minWidth: math.div($minViewportWidth, 16);

  $slope: math.div(($maxSize - $minSize), ($maxWidth - $minWidth));
  $yAxisIntersection: -$minWidth * $slope + $minSize;

  @return clamp(#{$minSize * 1rem}, #{$yAxisIntersection * 1rem} + #{$slope * 100vw}, #{$maxSize * 1rem});
}
